<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <h1>Welcome <%= userName%>
    </h1>
    <a href="/user/signout">
        <button>SignOut</button>
    </a>
</body>

</html>