<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


</head>

<body>
    <h1>Sign In</h1>
    <form action="/user/create-session" method="POST">
        <input type="email" name="email" placeholder="Enter Your Email" required>
        <input type="password" name="password" placeholder="Enter Your Password" required>
        <button type="submit">Sign In</button>
    </form>
    <script>

        <%if (locals.error && locals.error.length > 0) {%>
            new Noty({
                theme: "relax",
                text: "<%=error%>",
                layout: "topRight",
                timeout: 1500,
                type: "error"
            }).show();
        <%}%>
    </script>
</body>

</html>